.signup__image--container {
    background-image: url(/public/pics/logSin/signup.jpg);
    height: 70vh;
    background-size: cover;
    margin-top: 40px;
}

.signup__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__image--container {
    background-image: url(/public/pics/logSin/login.jpg);
    height: 70vh;
    background-size: cover;
    margin-top: 40px;
}

.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 756px) {

    .login__image--container,
    .signup__image--container {
        display: none;
    }
}